name: Generate GitHub Stats

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download GitHub stats
        run: |
          curl -o stats.svg "https://github-readme-stats.vercel.app/api?username=PriyanshuSingh44&show_icons=true&theme=radical"
          curl -o langs.svg "https://github-readme-stats.vercel.app/api/top-langs/?username=PriyanshuSingh44&layout=compact&theme=radical"

      - name: Commit stats
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add stats.svg langs.svg
          git commit -m "Update GitHub stats" || exit 0
          git push
